version: '3.9'

services:
  frontend:
    build: .
    command: bash -c "npm run dev -- --host 0.0.0.0"
    volumes:
      - ./:/app
      - /app/node_modules
    ports:
      - "5173:5173"
    environment:
      - CHOKIDAR_USEPOLLING=true

  backend:
    build: .
    command: bash -lc "uvicorn src.scripts.load_ply:app --host 0.0.0.0 --port 8000 --reload"
    volumes:
      - ./:/app
    ports:
      - "8000:8000"
