name: Docker Compose CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and run Python tests
        run: |
          # Build only the 'test' stage
          docker compose build --pull --no-cache test
          
          # Run the test service
          docker compose run --rm test

      - name: Build production images
        run: |
          docker compose build --pull frontend backend

      - name: Cleanup
        run: |
          docker compose down --remove-orphans
